<!DOCTYPE html>
<html>
  <head>
    <title>Tambah Barang</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Tambah Barang</h1>

    <form method="POST">
      <label>Kode Barang</label>
      <input type="text" name="kode" required />

      <label>Nama Barang</label>
      <input type="text" name="nama" required />

      <label>Harga</label>
      <input type="number" name="harga" required />

      <label>Jumlah</label>
      <input type="number" name="jumlah" required />

      <button type="submit">Simpan</button>
    </form>

    <a href="/">Kembali</a>
  </body>
</html>
