<!DOCTYPE html>
<html>
  <head>
    <title>Edit Barang</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Edit Barang</h1>

    <form method="POST">
      <label>Kode Barang</label>
      <input type="text" value="{{ barang.kode }}" disabled />

      <label>Nama Barang</label>
      <input type="text" name="nama" value="{{ barang.nama }}" required />

      <label>Harga</label>
      <input type="number" name="harga" value="{{ barang.harga }}" required />

      <label>Jumlah</label>
      <input type="number" name="jumlah" value="{{ barang.jumlah }}" required />

      <button type="submit">Update</button>
    </form>

    <a href="/">Kembali</a>
  </body>
</html>
